# Core functionality - changes here should be rare!
/src/app.py                   @shamila37
/src/backend/database.py      @shamila37
/src/backend/routers/auth.py  @shamila37

# The frontend will need refactored soon to be more object oriented.
/src/static/   @shamila37
